{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
        <img src="{% static 'img/Badge.png' %}" alt="AdminLTE Logo" class="brand-image ">
        <span class="brand-text font-weight-light"> BCM Management</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
            <!--
            <div class="image">
                <img src="" class="img-circle elevation-2" alt="User Image">
            </div>
            -->
            <span class="avatar rounded-circle">
                  <img alt="Avatar" src="{{ request.user.profile_image.url }}"
                       style="border-radius: 50%!important; width: 100px; height: 100px; object-fit: fill">
                </span>
            <div style="align-content: center" class="info d-flex justify-content-center">
                <a style="align-self: center; align-content: center" href="#"
                   class="d-block">&nbsp{{ request.user.username }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                       aria-label="Search" id="searchbar2">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <a href="{% url 'index:dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt "></i>
                    <p class="nav-item">
                        Dashboard
                    </p>
                </a>
                <a href="{% url 'users:sms-panel' %}" class="nav-link">
                    <i class="nav-icon fas fa-send"></i>
                    <p class="nav-item">
                        Send Email/SMS
                    </p>
                </a>

                <a href="{% url 'users:contacts' %}" class="nav-link">
                    <i class="nav-icon fas fa-phone "></i>
                    <p class="nav-item">
                        Contacts
                    </p>
                </a>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>
                            Contingency Plans
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="flowchart-list">
                        {#                        <li class="nav-item">#}
                        {#                            <a href="" class="nav-link">#}
                        {#                                <i class="fas fa-user-friends nav-icon"></i>#}
                        {#                                <p>Staff Strike</p>#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-fire"></i>
                        <p>
                            Incidents
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="flowchart-list">
                        <li class="nav-item">
                            <button href="" class="add-flowchart" style="display: block;width: 60%;height: 35px;
                            background-color: white;color: black;margin: 0 auto;transition-duration: 0.5s">
                                <p>+</p>
                            </button>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview" id="incident-list">
                        {#                        <li class="nav-item">#}
                        {#                            <a href="" class="nav-link">#}
                        {#                                <i class="fas fa-user-friends nav-icon"></i>#}
                        {#                                <p>Staff Strike - Gandhi</p>#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                </li>
                <a href="{% url 'flowchart:history-table' %}" class="nav-link">
                    <i class="nav-icon fas fa-history "></i>
                    <p class="nav-item">
                         &nbsp&nbsp&nbsp History
                    </p>
                </a>
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-info-circle "></i>
                    <p class="nav-item">
                        &nbsp&nbsp&nbsp Users Info
                    </p>
                </a>

            </ul>
        </nav>


        <section class="incidentPage">
            <i class="fa fa-times" aria-hidden="true"></i>
            <form action="#" enctype="multipart/form-data">
                <h3>Add New Incident</h3>
                <label for="incidentLocation">Choose Location</label>
                <select class="incidentLocation" id="incidentLocation">
                    <option value="0">--Select Location--</option>
                </select>

                <label for="contingency_plan">Choose Contingency Plan</label>
                <select class="incident" id="contingency_plan">
                    <option value="0">--Select Contingency Plan--</option>
                </select>
                <button class="submit" onclick="create()">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                      d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                            </svg>
                        </div>
                    </div>
                    <span>Create</span>
                </button>
                <div id="incident-error" style="display:none;">
                    <h1 style="text-align: center;color: crimson;font-size: 34px;font-weight: bold">Error:</h1>
                    <p id="error-msg"
                       style="text-align: center;color: white;background-color: crimson;font-size: 24px;border-radius: 15px">
                        This contingency already exist !</p>
                </div>
            </form>
        </section>


        <script>

            // jquery for show incident page
            $(".add-flowchart").click(function () {
                $("section.incidentPage").css({
                    "display": 'block',
                    "transitionDuration": "0.5s",
                })
                $(".content-wrapper").css({
                    "filter": "blur(5px)"
                })
            })
            // jquery for closing incident page
            $("section.incidentPage>i").click(function () {
                $("section.incidentPage").css({
                    "display": 'none',
                    "transitionDuration": "0.5s",
                })
                $(".content-wrapper").css({
                    "filter": "blur(0px)"
                })
            })


            function createPrimaryElement(data) {
                for (let i = 0; i < data.length; i++) {

                    var flowchart = document.getElementById("flowchart-list")
                    var li = document.createElement("li")
                    li.classList.add('nav-item')

                    var a = document.createElement('a')
                    a.classList.add('nav-link')
                    a.href = data[i].get_absolute_url

                    var i_ = document.createElement('i')
                    i_.classList.add("fas")
                    i_.classList.add("fa-fire")
                    i_.classList.add("nav-icon")

                    var p = document.createElement('p')
                    p.innerHTML = data[i].name

                    a.appendChild(i_)
                    a.appendChild(p)

                    li.appendChild(a)

                    flowchart.appendChild(li)
                }
            }

            function createIncidentElement(data) {
                for (let i = 0; i < data.length; i++) {

                    var flowchart = document.getElementById("incident-list")
                    var li = document.createElement("li")
                    li.classList.add('nav-item')

                    var a = document.createElement('a')
                    a.classList.add('nav-link')
                    a.href = data[i].get_absolute_url

                    var i_ = document.createElement('i')
                    i_.classList.add("fas")
                    i_.classList.add("fa-fire")
                    i_.classList.add("nav-icon")

                    var p = document.createElement('p')
                    p.innerHTML = data[i].name

                    a.appendChild(i_)
                    a.appendChild(p)

                    li.appendChild(a)

                    flowchart.appendChild(li)
                }
            }

            function getPrimaryFlowcharts() {
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url: "/flowchart/api/v1/flowcharts/?primary=true",
                    success: function (data, status, xhr) {
                        createPrimaryElement(data)
                    }
                });
            }

            function getIncidentFlowcharts() {
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url: "/flowchart/api/v1/flowcharts/?primary=false",
                    success: function (data, status, xhr) {
                        createIncidentElement(data)
                    }
                });
            }

            function createIncident() {
                <!-- Add Plans -->
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url: "/flowchart/api/v1/flowcharts/?primary=true",
                    success: function (data, status, xhr) {
                        incidentLocation = document.getElementById('contingency_plan')
                        for (let i = 0; i < data.length; i++) {
                            var option = document.createElement('option')
                            option.innerHTML = data[i].name
                            option.value = data[i].id
                            incidentLocation.appendChild(option)
                        }
                    }
                });
                <!-- Add Locations -->
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url: "/flowchart/api/v1/locations",
                    success: function (data, status, xhr) {
                        incidentLocation = document.getElementById('incidentLocation')
                        for (let i = 0; i < data.length; i++) {
                            var option = document.createElement('option')
                            option.innerHTML = data[i].name
                            option.value = data[i].id
                            incidentLocation.appendChild(option)
                        }
                    }
                });

            }

            function create() {
                var el = document.getElementById("incident-error")
                el.style.display = "none"
                var location = document.getElementById('incidentLocation').value
                var contingencyPlan = document.getElementById('contingency_plan').value
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}'
                    },
                    data: {
                        "primary_id": contingencyPlan,
                        "location_id": location
                    },
                    url: "/flowchart/api/v1/new-flowchart/",
                    success: function (data, status, xhr) {
                        console.log(data)
                        window.location.replace(data.url)

                    },
                    error: function (xhr, status, error) {
                        var obj = JSON.parse(xhr.responseText);
                        var msgEl = document.getElementById("error-msg")
                        msgEl.innerHTML = obj.message

                        el.style.display = "block"

                    }
                });
            }

            getPrimaryFlowcharts()
            getIncidentFlowcharts()
            createIncident()


        </script>

        <style>
            section.incidentPage > i {
                font-size: 30px;
                color: red;
                position: absolute;
                right: 5px;
                cursor: pointer;
            }

            section.incidentPage {
                display: none;
                border-radius: 15px;
                width: 500px;
                background-color: white;
                z-index: 111;
                position: fixed;
                margin: 0 auto;
                left: calc(50% - 250px);
                top: 200px;
                border: 1px solid black;
                /*transition-duration: 0.5s;*/

            }

            form {
                /*width: 80%;*/
                /*background-color: wheat;*/
                margin: 0 auto;
                padding: 20px;
                box-sizing: border-box;
            }

            form > label {
                display: block;
                /*color: red;*/
            {#font-family: Calibri;#} font-size: 18px;
                margin-top: 30px;
            }

            select.incident {
                display: block;
                margin: 0 auto !important;
                width: 400px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
            }

            select.incidentLocation {
                display: block;
                margin: 0 auto !important;
                width: 400px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
            }

            input[type='text'] {
                display: block;
                width: 400px;
                margin: 0px auto;
                padding: 5px;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
            }

            /* From uiverse.io by @adamgiebl */
            button.submit {
                /*width: 150px;*/
                height: 40px;
                font-family: inherit;
                font-size: 15px;
                /*background: royalblue;*/
                color: white;
                padding: 0.7em 1em;
                padding-left: 0.9em;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 16px;
                overflow: hidden;
                transition: all 0.2s;
                background-color: green;
                /*margin-top: 20px;*/
                margin: 20px auto;

            }

            button.submit span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
            }

            button.submit svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
            }

            button.submit:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
            }

            button.submit:hover svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
            }

            button.submit:hover span {
                transform: translateX(5em);
                overflow-x: hidden;
            }

            button.submit:active {
                transform: scale(0.95);
            }

            @keyframes fly-1 {
                from {
                    transform: translateY(0.1em);
                }

                to {
                    transform: translateY(-0.1em);
                }
            }

            @media only screen and (max-width: 1000px) {
                form {
                    /*width: 80%;*/
                    /*background-color: wheat;*/
                    margin: 0 auto;
                    padding: 20px;
                    box-sizing: border-box;
                }

                form > label {
                    display: block;
                    /*color: red;*/
                {#font-family: Calibri;#} font-size: 18px;
                    margin-top: 30px;
                }

                select.incident {
                    display: block;
                    margin: 0 auto !important;
                    width: 200px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                }

                select.incidentLocation {
                    display: block;
                    margin: 0 auto !important;
                    width: 200px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                }

                input[type='text'] {
                    display: block;
                    width: 200px;
                    margin: 0px auto;
                    padding: 5px;
                    box-sizing: border-box;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                }

                /* From uiverse.io by @adamgiebl */
                button.submit {
                    /*width: 150px;*/
                    height: 40px;
                    font-family: inherit;
                    font-size: 15px;
                    /*background: royalblue;*/
                    color: white;
                    padding: 0.7em 1em;
                    padding-left: 0.9em;
                    display: flex;
                    align-items: center;
                    border: none;
                    border-radius: 16px;
                    overflow: hidden;
                    transition: all 0.2s;
                    background-color: green;
                    /*margin-top: 20px;*/
                    margin: 20px auto;

                }

                button.submit span {
                    display: block;
                    margin-left: 0.3em;
                    transition: all 0.3s ease-in-out;
                }

                button.submit svg {
                    display: block;
                    transform-origin: center center;
                    transition: transform 0.3s ease-in-out;
                }

                button.submit:hover .svg-wrapper {
                    animation: fly-1 0.6s ease-in-out infinite alternate;
                }

                button.submit:hover svg {
                    transform: translateX(1.2em) rotate(45deg) scale(1.1);
                }

                button.submit:hover span {
                    transform: translateX(5em);
                    overflow-x: hidden;
                }

                button.submit:active {
                    transform: scale(0.95);
                }

                @keyframes fly-1 {
                    from {
                        transform: translateY(0.1em);
                    }

                    to {
                        transform: translateY(-0.1em);
                    }
                }
            }
        </style>
