section.team {
    width: 100%;
    padding: 50px;
}

section.team .team_title {
    width: 100%;
    margin-bottom: 20px;
}

section.team .team_title>i {
    color: #d84848;
    font-size: 30px;
    margin-left: 10px;
}

section.team .team_title>h2 {
    display: inline-block;
    vertical-align: top;
}

section.team .team_person {
    display: inline-block;
    width: 24%;
    height: 230px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

section.team .team_person>p {
    width: 100%;
    color: #fff;
    background-color: rgba(48, 48, 48, 0.7);
    padding: 5px;
    position: absolute;
    top: -35px;
    transition: 400ms;
}

section.team .team_person:hover>p {
    top: 0;
}

section.team .team_person>p>a {
    color: #fff;
    margin-left: 10px;
}

section.team .team_person>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.team .team_person>h4 {
    width: 100%;
    color: #fff;
    background-color: rgba(48, 48, 48, 0.7);
    padding: 5px;
    font-weight: normal;
    position: absolute;
    bottom: -35px;
    transition: 400ms;
}

section.team .team_person:hover>h4 {
    bottom: 0;
}