<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
            integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
          integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% load static %}
    {% include 'base/head.html' %}

</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <!-- Preloader
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{% static 'img/Badge.png' %}" alt="AdminLTELogo" height="100" width="100">
    </div>
    -->

    <!-- Navbar -->
    {% include 'base/rightNav.html' %}
    <!-- /.navbar -->


    <!-- side bar Nav -->
    <!-- Sidebar Menu -->
    {% include 'base/sidenav.html' %}
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!--
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard v1</li>
                      -->
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-lg">
                <div class="container-fluid">
                    <div class="card">

                        <div style="background-color: #BD1E51" class="card-header">
                            <h4 style="color: white">Manual Action</h4>
                        </div>

                        {#                        {% for s in mod %}#}
                        {#                            {{ s }}#}
                        {#                        {% endfor %}#}
                        <!--
                        <div class="btn-group">
                            <a class="btn btn-outline-danger" href="">HSE Emails</a>
                            <a class="btn btn-outline-danger" href="">PR Emails</a>
                            <a class="btn btn-outline-danger" href="{% url 'customlist' %}">All Emails</a>
                            {% if signal.is_send %}
                                <a id="hidbut" class="btn btn-outline-danger hide"
                                   onclick="if (confirm('Confirm Emails?')) myFunction() " hidden>asd</a>
                            {% endif %}
                        </div>
                        -->


                        <div style="align-self: center" class="card-body">

                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="subject">Subject: </label>
                                    <input class="form-control" type="text" id="subject" name="subject"
                                           value="{% if form.subject.value %} {{ form.subject.value }} {% endif %}">
                                    <span class="help-block">{{ form.errors.subject }}</span>
                                    <label for="description">Description: </label>
                                    <input type="text" name="description" id="description" class="form-control"
                                           value="{% if form.description.value %} {{ form.description.value }} {% endif %}">
                                    <span class="help-block">{{ form.errors.description }}</span>
                                    <label for="emails">Emails:</label>

                                    <select class="form-control selectpicker" name="emails" id="emails" multiple
                                            data-live-search="true" data-actions-box="true" data-style="btn-white">
                                        {% for x in form.emails %}
                                            {{ x }}
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger">{{ form.errors.emails }}</span>
                                </div>
                                <button class="btn btn-danger" name="btn_send" type="submit">Send</button>
                                <button class="btn btn-danger" name="btn_preview" type="submit">Preview</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- footer -->
{% include 'base/footer.html' %}


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- JavaScript File -->
{% include 'base/js.html' %}
</body>
<script>
    function referenceToNewWindow() {
        window.open({% url 'hselist' %}, 'hse mail')
    }
</script>
<script>
    function search_animal() {
        let input = document.getElementById('searchbar2').value
        input = input.toLowerCase();
        let x = document.getElementsByClassName('nav-item');

        for (i = 0; i < x.length; i++) {
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display = "none";
            } else {
                x[i].style.display = "list-item";
            }
        }
    }
</script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'})
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {format: 'MM/DD/YYYY hh:mm A'}
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })
    })
</script>
<script>
    $('select').selectpicker();
</script>
</html>
