footer {
    width: 100%;
    padding: 20px;
    background-color: #3a3835;
}

footer .menu {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}

footer .menu a {
    color: #ccc;
}

footer .menu a:hover {
    color: #d84848;
}

footer .social {
    display: inline-block;
    width: 33%;
}

footer .social i {
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #ccc;
}

footer .social i:hover {
    color: #d84848;
    border: 1px solid #d84848;
}

footer .about {
    display: inline-block;
    width: 33%;
    color: #ccc;
    vertical-align: middle;
    padding: 20px;
    text-align: justify;
}