{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            top: 70px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 70px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }
            to {
                top: 70px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                top: 70px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }
            to {
                top: 0;
                opacity: 0;
            }
        }
    </style>

{% endblock %}


{% block dashboard %}
    Send Message
{% endblock %}



{% block content %}

    <div id="message-result" style="display:none; width: 30%">
        <p id="text-result"
           style="text-align: center;color: white;background-color: crimson;font-size: 24px;border-radius: 5px;">
            This contingency already exist !</p>
    </div>



    <div class="card-body">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-6">

                <div class="form-group">
                    <select class="select2 select2-hidden-accessible" multiple="" data-placeholder="Select a Member"
                            style="width: 100%;"
                            id="select-members">
                        {% for member in members %}
                            <option value="{{ member.id }}"
                                    {% if saved_member_id == member.id %}selected{% endif %}>{{ member.last_name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->

            <div class="col-md-6">

                <div class="form-group">
                    <select class="select2 select2-hidden-accessible" id="select-msg-type" multiple=""
                            data-placeholder="Select MSG type"
                            style="width: 100%;">
                        <option value="sms" selected>SMS</option>
                        <option value="email" selected>Email</option>
                        <option value="mm" selected>MatterMost</option>

                    </select>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <textarea class="form-control bg-white" type="text" name="text" id="text-message"
                  style="resize: none"
                  placeholder="Enter Your Message ..."
                  rows="5"></textarea>
        <br>
        <button class="btn btn-outline-primary" type="submit" onclick="send()">Send Message</button>
        </form>
        <!-- /.row -->

    </div>

    <div id="snackbar">Some text some message..</div>



    <script>
        var resultMsg = document.getElementById("message-result");
        var msg = document.getElementById("text-result")

        function send() {
            var message = document.getElementById("text-message");
            var selectedMembers = $('#select-members').val();
            var selectedMSG = $('#select-msg-type').val();
            console.log(message)
            console.log(selectedMSG)
            console.log(selectedMembers)
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "/users/api/v1/custom-send-smg/",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },

                data: {
                    'members': JSON.stringify(selectedMembers),
                    'msg_type': JSON.stringify(selectedMSG),
                    'text': message.value,
                },
                success: function (data, status, xhr) {
                    var snack = document.getElementById("snackbar")
                    console.log('ss')
                    snack.innerHTML = data.message
                    snack.style.backgroundColor = "green"
                    myFunction()
                },
                error: function (xhr, status, error) {
                    var snack = document.getElementById("snackbar")
                    snack.innerHTML = "Could not send Message"
                    snack.style.backgroundColor = "red"
                    myFunction()
                }
            });
        }

    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    </script>




{% endblock %}



