{% extends 'base/base.html' %}
{% load static %}

{% block dashboard %}
    <h3>User Info</h3>
{% endblock %}



{% block content %}
    <h3>Your last login was on '{{ last_login }}'</h3>
    <br>

    <div class="col">
        <div class="card card-dark">
            <div class="card-header ">
                <h1 class="card-title primary">Update Your Info</h1>
                <p class="card-category"></p>
            </div>

            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="alignment: center" class="form-group row">
                        <div class="col-6">
                            {{ user_form.first_name.label }}
                            {{ user_form.first_name }}
                            <br>
                            {{ user_form.last_name.label }}
                            {{ user_form.last_name }}
                            <br>
                            <div class="custom-file">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                {{ user_form.profile_image }}
                            </div>

                        </div>

                        <div class="col-6">
                            {{ user_form.email.label }}
                            {{ user_form.email }}
                            <br>
                            {{ user_form.mobile_number.label }}
                            {{ user_form.mobile_number }}
                        </div>

                    </div>

                    <div class="row col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}