{% extends 'base/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block dashboard %} {% endblock %}

{% block content %}

    <div class="card-dark">
        <div class="card-header border-transparent">
            <h3 class="card-title">Latest Orders</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Triggered Date</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
    </div>
    <hr>
    <div class="row">

        <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Closed Incident Per Contingency Plans</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="barChart_contingency"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- CONTINGENCY PLAN CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Contingency Plans Developed</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="contingency_developed"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>


        <div class="col-md-6">
            <!-- Total Closed and open Incidents CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Total Closed and open Incidents</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="donutChart"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- STACKED BAR CHART -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Incident Per Location</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="stackedBarChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- Incident Pet Month BAR CHART -->
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Incident Pet Month</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="incident-per-month-donut"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

    </div>




    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script>
        var name = [];
        var open = [];
        var close = [];
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/incident_per_location/",
            success: function (data, status, xhr) {
                name = data.names
                open = data.opened
                close = data.closed
                setChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {

            var stackedBarChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }

            var ctx = document.getElementById("stackedBarChart");
            ctx.height = 150

            if (window.myChart233 != undefined)
                window.myChart233.destroy();
            window.myChart233 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: name.split(','),
                    datasets: [
                        {
                            label: 'Open',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: open
                        },
                        {
                            label: 'Closed',
                            backgroundColor: 'rgba(210, 214, 222, 1)',
                            borderColor: 'rgba(210, 214, 222, 1)',
                            pointRadius: false,
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: close
                        },
                    ]
                },
                options: stackedBarChartOptions
            })
        }

    </script>

    <script>
        var open = null;
        var close = null;
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/total_incident/",
            success: function (data, status, xhr) {
                open = data.open
                close = data.closed
                setDonutChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setDonutChart() {

            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }

            var ctx = document.getElementById("donutChart");
            ctx.height = 150

            {#if (window.donutChart != undefined)#}
            {#    window.donutChart.destroy();#}
            window.donutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Open',
                        'Closed'
                    ],
                    datasets: [
                        {
                            data: [open, close],
                            backgroundColor: ['#F70F0F', '#00a65a']
                        }
                    ]
                },
                options: donutOptions
            })
        }

    </script>

    <script>
        var names = [];
        var counts = [];
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/incident_per_contingency/",
            success: function (data, status, xhr) {
                names = data.names
                counts = data.counts
                setContingencyChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setContingencyChart() {

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                }
            }

            var ctx = document.getElementById("barChart_contingency");
            ctx.height = 150

            {#if (window.myChart233 != undefined)#}
            {#    window.myChart233.destroy();#}
            window.barChart_contingency = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: names,
                    datasets: [
                        {
                            label: 'Closed',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: counts
                        },
                    ]
                },
                options: barChartOptions
            })
        }

    </script>

    <script>
        var completed = null;
        var inProgress = null;
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/contingency-plans/",
            success: function (data, status, xhr) {
                completed = data[0].completed
                inProgress = data[0].in_progress
                console.log(completed)
                console.log(inProgress)
                setContingencyDevelopedChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setContingencyDevelopedChart() {

            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }

            var ctx = document.getElementById("contingency_developed");
            ctx.height = 150

            {#if (window.donutChart != undefined)#}
            {#    window.donutChart.destroy();#}
            window.contingency_developed = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Completed',
                        'In Progress'
                    ],
                    datasets: [
                        {
                            data: [completed, inProgress],
                            backgroundColor: ['#00a65a', '#F70F0F']
                        }
                    ]
                },
                options: donutOptions
            })
        }

    </script>

    <script>
        var labesl = []
        var counts = []
        var colors = []
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/incident-per-month/",
            success: function (data, status, xhr) {
                counts = data.counts
                labesl = data.months
                for (i = 0; i < data.months.length; i++) {
                    colors.push("#" + (((1 + Math.random()) * (1 << 24) | 0).toString(16)).substr(-6));
                }
                setIncidentPerMonthChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setIncidentPerMonthChart() {

            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }

            var ctx = document.getElementById("incident-per-month-donut");
            ctx.height = 150

            {#if (window.donutChart != undefined)#}
            {#    window.donutChart.destroy();#}
            window.contingency_developed = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: labesl,
                    datasets: [
                        {
                            data: counts,
                            backgroundColor: colors,
                        }
                    ]
                },
                options: donutOptions
            })
        }

    </script>

    <script>

        function buildTable(data) {
            var tbody = document.getElementById("tbody")
            for (let i = 0; i < data.length; i++) {
                var tr = document.createElement("tr")
                td1 = document.createElement("td")
                td1.innerHTML = data[i].name

                td2 = document.createElement("td")
                td2.innerHTML = data[i].p_triggered_date

                td3 = document.createElement("td")
                a = document.createElement("a")
                a.href = data[i].get_absolute_url
                a.classList = "text-muted"

                itag = document.createElement("i")
                itag.classList = "fas fa-search"
                a.appendChild(itag)
                td3.appendChild(a)

                tr.appendChild(td1)
                tr.appendChild(td2)
                tr.appendChild(td3)

                tbody.appendChild(tr)
            }
        }


        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/flowcharts/?primary=false&is_active=true",
            success: function (data, status, xhr) {
                buildTable(data)
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
    </script>





{% endblock %}