{% extends 'base/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block dashboard %} {% endblock %}

{% block content %}

{#    <div class="row">#}
{#        <div class="col-lg-4 col-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-info">#}
{#                <div class="inner">#}
{#                    <h3>23</h3>#}
{##}
{#                    <p>All BCM Plans</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-android-clipboard"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#        <div class="col-lg-4 col-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-success">#}
{#                <div class="inner">#}
{#                    <h3>7<sup style="font-size: 20px"></sup></h3>#}
{##}
{#                    <p>Succeeded Plans</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-stats-bars"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#        <div class="col-lg-4 col-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-warning">#}
{#                <div class="inner">#}
{#                    <h3>177</h3>#}
{##}
{#                    <p>Users</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="ion ion-person-add"></i>#}
{#                </div>#}
{#                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#    </div>#}


    <div class="row">

        <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Closed Incident Per Contingency Plans</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="barChart_contingency"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- CONTINGENCY PLAN CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Contingency Plans Developed</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="contingency_developed"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>


        <div class="col-md-6">
            <!-- Total Closed and open Incidents CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Total Closed and open Incidents</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="donutChart"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- STACKED BAR CHART -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Incident Per Location</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="stackedBarChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>

    </div>

    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script>
        var name = [];
        var open = [];
        var close = [];
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/incident_per_location/",
            success: function (data, status, xhr) {
                name = data.names
                open = data.opened
                close = data.closed
                setChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {

            var stackedBarChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }

            var ctx = document.getElementById("stackedBarChart");
            ctx.height = 150

            if (window.myChart233 != undefined)
                window.myChart233.destroy();
            window.myChart233 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: name.split(','),
                    datasets: [
                        {
                            label: 'Open',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: open
                        },
                        {
                            label: 'Closed',
                            backgroundColor: 'rgba(210, 214, 222, 1)',
                            borderColor: 'rgba(210, 214, 222, 1)',
                            pointRadius: false,
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: close
                        },
                    ]
                },
                options: stackedBarChartOptions
            })
        }

    </script>

    <script>
        var open = null;
        var close = null;
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/total_incident/",
            success: function (data, status, xhr) {
                open = data.open
                close = data.closed
                setDonutChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setDonutChart() {

            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }

            var ctx = document.getElementById("donutChart");
            ctx.height = 150

            {#if (window.donutChart != undefined)#}
            {#    window.donutChart.destroy();#}
            window.donutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Open',
                        'Closed'
                    ],
                    datasets: [
                        {
                            data: [open, close],
                            backgroundColor: ['#F70F0F', '#00a65a']
                        }
                    ]
                },
                options: donutOptions
            })
        }

    </script>

    <script>
        var names = [];
        var counts = [];
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/incident_per_contingency/",
            success: function (data, status, xhr) {
                names = data.names
                counts = data.counts
                setContingencyChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setContingencyChart() {

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                }
            }

            var ctx = document.getElementById("barChart_contingency");
            ctx.height = 150

            {#if (window.myChart233 != undefined)#}
            {#    window.myChart233.destroy();#}
            window.barChart_contingency = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: names,
                    datasets: [
                        {
                            label: 'Closed',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: counts
                        },
                    ]
                },
                options: barChartOptions
            })
        }

    </script>

    <script>
        var completed = null;
        var inProgress = null;
        $.ajax({
            method: "GET",
            url: "/flowchart/api/v1/contingency-plans/",
            success: function (data, status, xhr) {
                completed = data[0].completed
                inProgress = data[0].in_progress
                console.log(completed)
                console.log(inProgress)
                setContingencyDevelopedChart()
            },

            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setContingencyDevelopedChart() {

            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }

            var ctx = document.getElementById("contingency_developed");
            ctx.height = 150

            {#if (window.donutChart != undefined)#}
            {#    window.donutChart.destroy();#}
            window.contingency_developed = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Completed',
                        'In Progress'
                    ],
                    datasets: [
                        {
                            data: [completed, inProgress],
                            backgroundColor: ['#00a65a', '#F70F0F']
                        }
                    ]
                },
                options: donutOptions
            })
        }

    </script>




{% endblock %}