<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="main" style="background-color:snow ;width: 50%;padding: 10px;box-sizing:border-box">
    <img src="image/digikala-logo-01.png" alt="digikala" style="width: 30%;display: block;margin: 0 auto">
    <h1 style="background-color: black;text-align: center;color: gold">Action Alarm Notification</h1>
    <section class="title"
             style=";width: 80%;margin: 0 auto;border-radius: 5px 25px 25px 5px; display: flex;flex-flow: row wrap;justify-content: space-evenly">
        <h3 style="text-align: center;height: 50px;color: black;line-height: 50px;font-size: 30px">Incident Name :
            <span style="color: crimson">People Protest</span></h3>
    </section>
    <table style="border-collapse: collapse;  width: 100%;margin-top: 10px;table-layout: fixed">
        <tr style="background-color: #dddddd;border: 1px solid black">
            <th style="border: 1px solid #dddddd;  text-align: center;  padding: 8px;border: 1px solid black">Current
                Action
            </th>
            <th style="border: 1px solid #dddddd;  text-align: center;  padding: 8px;border: 1px solid black">Next
                Action
            </th>
        </tr>
        <tr>
            <td style="border: 1px solid #dddddd;  text-align:center ;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
            <td style="border: 1px solid #dddddd;  text-align: center;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #dddddd;  text-align:center ;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
            <td style="border: 1px solid #dddddd;  text-align: center;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #dddddd;  text-align:center ;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
            <td style="border: 1px solid #dddddd;  text-align: center;  padding: 8px;word-wrap: break-word">Call
                Police-Call basij-closing the doors
            </td>
        </tr>
    </table>
</section>
</body>
</html>