<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="main" style="background-color:snow ;width: 50%;padding: 10px;box-sizing:border-box">
    <img src="image/digikala-logo-01.png" alt="digikala" style="width: 30%;display: block;margin: 0 auto">
    <h1 style="background-color: black;text-align: center;color: gold">Action Alarm Notification</h1>
    <section class="title"
             style=";width: 80%;margin: 0 auto;border-radius: 5px 25px 25px 5px; display: flex;flex-flow: row wrap;justify-content: space-evenly">
        <h3 style="text-align: center;height: 50px;color: black;line-height: 50px;font-size: 30px">Incident Name :
            <span style="color: crimson">People Protest</span></h3>
    </section>
    <section class="flow" style="text-align: center;font-family: 'B Nazanin'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="555" height="150"
             stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff" fill-rule="evenodd"
             font-family="Roboto" font-size="14" text-anchor="middle">
            <defs>
                <style>@font-face {
                    font-family: "Roboto";
                     format("woff");
                    font-weight: normal;
                    font-style: normal;
                }</style>
                <path d="M0 0l4 5h-8z" stroke="none" id="A"/>
            </defs>
            <path d="M147.7258 44.3054L94.5 76.2415l53.2258 31.9362 53.2258-31.9362z" fill="#ff8200"/>
            <text fill="#000" stroke="none">
                <tspan x="147.7258" y="64.0616">تعیین</tspan>
                <tspan x="147.7258" y="80.8616">سطح</tspan>
                <tspan x="147.7258" y="97.6616">بحران</tspan>
            </text>
            <path fill="#739900" d="M314.5 9.5h106.4517v39.9202H314.5z"/>
            <text fill="#fff" stroke="none">
                <tspan x="367.7258" y="25.6801">عدم نیاز به تشکیل</tspan>
                <tspan x="367.7258" y="42.4801">کمیته بحران</tspan>
            </text>
            <path fill="red" d="M318.0483 94.5798H424.5V134.5H318.0483z"/>
            <text fill="#fff" stroke="none">
                <tspan x="371.2741" y="110.7599">تشکیل کمیته بحران</tspan>
                <tspan x="371.2741" y="127.5599">وکنترل بحران</tspan>
            </text>
            <g transform="translate(176.1129 24.9691)">
                <path fill="none" d="M0 34.8054L134.023 1.0976"/>
                <use x="138.3871" transform="matrix(.24391123 .96979756 -.96979756 .24391123 104.63293209 -134.2074722)"
                     fill="#000" xlink:href="#A"/>
            </g>
            <g transform="translate(169.5 94.5)">
                <path fill="none" d="M0 0l144.0863 18.8329"/>
                <use x="148.5484" y="19.4162"
                     transform="matrix(-.12960383 .99156586 -.99156586 -.12960383 187.05328313 -125.3629074)"
                     fill="#000" xlink:href="#A"/>
            </g>
        </svg>
    </section>
</section>

</body>
</html>